@import '../../../styles/mixins.scss';

.hotNFTs{
    margin-top: 160px;
    .container{
        @include container;
        .hotNFTs__header{
            display: flex;
            justify-content: center;
            .hotNFTs__title{
                font-weight: 700;
                font-size: 48px;
                line-height: 63px;
                color: #ffffff;
            }
        }

        .hotNFTs__wrapper-nav{
            margin-top: 56px;
            display: flex;
            justify-content: space-evenly;
            .hotNFTs__btn-nav{
                font-size: 16px;
                color: #ffffff;
                font-weight: 500 ;
                line-height: 24px;
                background: #1E50FF1A;
                width: 119px;
                height: 56px;
                border-radius: 8px;
                border:none;
                &:last-child{
                    margin:0px;
                }
                &:active{
                    font-size: 16px;
                color: #ffffff;
                font-weight: 500 ;
                line-height: 24px;
                background: #1E50FF;
                width: 119px;
                height: 56px;
                border-radius: 8px;
                border:none;
                filter: drop-shadow(10px 10px 10px rgba(30, 80, 255, 0.5));
                }
            }
        }   
        
        .hotNFTs__block-createNft{
            background-color: #1E50FF;
            padding: 48px 200px;
            border-radius: 16px;
            text-align: center;
            margin-top: 160px;
            .hotNFTs__title-createNft{
               font-weight: Bold;
                font-size:  48px;
                line-height: 63.98px;
            }

            .hotNFTs__discription{
                margin-top: 25px;
               font-size: 16px;
               line-height: 32px;

            }

            .hotNFTs__creat-btn{
                margin-top: 40px;
                background-color: #ffffff;
                color: #1E50FF;
                font-size: 16px;
                line-height: 32px;
                padding: 16px 40px;
                border-radius: 16px;
                border:none;
            }
        }
    }

    
}