@import "../../../styles/mixins.scss";

.liveAuctions {
  margin-top: 160px;
  position: relative;
  .ornament{
    @include ornament;
    position: absolute;
    z-index: 0;
    top: 49%;
    left: -24%;
  }
  .container {
    @include container;
    .liveAuctions__header {
      display: flex;
      justify-content: space-between;
      .liveAuctions__title {
        font-size: 48px;
        line-height: 63px;
        font-weight: 700;
      }

      .liveAuctions__btn {
        @include btn-vievMore;
      }
    }
    .liveAuctions__wrapper {
      margin-top: 56px;
      display: flex;
      justify-content: space-between;
  }
 
}
}