@import './fontface.scss';


body{
    font-size: 16px;
    background-color: #02050E;
    box-sizing: border-box;
    font-family:sans-serif;
    color: #FFFFFF;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
list-style-type: none;
}

H2{
font-size: 64px;
font-weight: 700;
line-height: 83%;
margin: 0px;
}

H3{
    font-weight: 700;
    font-size: 48px;
    line-height: 89%;
    margin: 0px;
}
H5{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0px;
    margin-bottom: 24px;
}
H6{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin: 0px;
}
p{
    color: #ADB9C7;
    font-size:14px;
    line-height: 32px;
    font-weight: 400;
}
a{
    font-size: 16px;
    font-weight: 600;
    line-height: 133%;
    text-decoration: none;
    color: #8F9CA9;

}



@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 120px;
    min-height: 100%;
}

@mixin ornament {
    width: 638px;
    height: 587px;
    border-radius: 50%;
    background: rgba(30, 80, 255, 0.5);
    filter: blur(300px);
}

@mixin text-logo{
    font-weight: 600;
    line-height: 32px;
    margin-left: 10px;
    color: #FFFFFF;
}

@mixin text-footer{
    font-style: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ADB9C7;
    }

@mixin btn-nav{
    font-size: 16px;
    color: #ffffff;
    font-weight: 500 ;
    line-height: 24px;
    background: #1E50FF1A;
    width: 119px;
    height: 56px;
    border-radius: 8px;
    border:solid 2px #1E50FF;
    &:last-child{
        margin:0px;
    }
    &:active{
        font-size: 16px;
    color: #ffffff;
    font-weight: 500 ;
    line-height: 24px;
    background: #1E50FF;
    width: 119px;
    height: 56px;
    border-radius: 8px;
    border:none;
    filter: drop-shadow(10px 10px 10px rgba(30, 80, 255, 0.5));
    }
}    

@mixin btn-vievMore {
    width: 176px;
    border-radius: 8px;
    border:solid 1px #1E50FF;
    padding: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 133%;
    margin-top: 70px;
}