.sort-select {
  position: relative;
  border:solid 1px #1E50FF;
  font-size: 14px;
  border-radius: 8px 8px 0px 0px;
  height: 48px;
  display: flex;
  align-items: center ;
  background: rgba(30, 80, 255, 0.1019607843);
  cursor: pointer;
  span{
    width: 115px;
    padding: 16px 0px;
  }
  img{
    margin-right: 10px;
    rotate: 180deg;
   
  }
  .active{
    rotate: 360deg;
  } 
  .sort-select {
    .sort-list{
      position: absolute;
      z-index: 10;
      border: solid 2px #1E50FF;
      top: 48px;
      width: 135px;
      cursor: pointer;
      left: -2px;
      border-radius: 0px 0px 8px 8px;
      background: rgb(30 80 255 / 89%);
      .sort-select-item {
        padding: 8px;
        &:hover{
          background: rgb(0 21 92);
        }
      }
    }
    
  }
}
