@import "../../styles/mixins.scss";

.footer {
  margin-top: 100px;
  padding-top: 88px;
  padding-bottom: 50px;

  .container {
    @include container;

    .footer__wrapper {
      display: flex;
      justify-content: space-between;
      .footer__aboutUs {
        margin-right: 88px;
        width: 40%;
        .footer__logo {
          display: flex;
          align-items: center;
          .logo__text {
          }
        }

        .footer__discription {
          margin-top: 24px;
        }
      }

      .footer__contact {
        .footer__social img {
          margin-right: 16px;
          margin-top: 24px;
        }
      }
    }
  }
  .reserved {
    margin-top: 24px;
    font-size: 14px;
    line-height: 114%;
    color: #ffffff;
  }
}
