@import "../../../styles//mixins.scss";

.title {
  margin-top: 96px;
  position: relative;
  .ornament {
    @include ornament;
    top: 374px;
    right: 0px;
    position: absolute;
    z-index: 0;
  }
  .container {
    @include container;

    .title__title {
      display: flex;
      justify-content: space-between;
      .title-text {
        width: 672px;
        height: 160px;
      }

      .title__discription {
        width: 488px;
        height: 96px;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: #adb9c7;

        .start__link {
          line-height: 32px;
          font-weight: 600;
          color: #ffffff;
          align-items: center;
          display: flex;
          text-decoration: underline !important;
          text-transform: capitalize;
          img {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .title__picture {
    display: flex;
    justify-content: space-evenly;
    margin-top: 56px;
    position: relative;
    z-index: 10;
    .wrapper__picture {
      width: 400px;
      height: 400px;
      .picture {
        border-radius: 24px;
        max-width: 100%;
        // height: 100%;
      }
    }
  }

  .wrapper__blockhain {
    margin-top: 120px;
    .blockchain__items {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .blockchain__item {
        z-index: 1;
        .blockchain__link {
          .blockchain__link-logo {
            width: 200px;
            max-height: 100%;
          }
        }
      }
    }
  }
}
