@import "../../styles/mixins.scss";

.header__container {
  @include container;
 
  .custom__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    .header__logo {
      display: flex;
      align-items: center;
      .logo__text {
       @include text-logo;
      }
    }

    .header__menu_primary {
      .main__menu {
        display: flex;
        
        .menu__item {
          margin-left: 32px;
      
          .item-link {
            cursor: pointer;
            position: relative;
          
            &:hover{
              color: #ffffff;
             
            }
            
          }
          .active{
            color: #ffffff;
            &::before{
              top: 20px;
              left: 0;
              position: absolute;
              width: 65%;
              border-bottom: 2px solid #1e50ff;
              content: "";
            }
          }
        }
      }
    }

    .header__connectWallet {
      .wallet {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        background: inherit;
        border: solid 1px #1e50ff;
        color: #ffffff;
        border-radius: 16px;
        padding: 12px 16px 12px 16px;
        width: 175px;
        height: 56px;
        cursor: pointer;
      }
    }
  }
}
