@import "../../styles/mixins.scss";

.footer{
    margin-top:160px ;
 padding-top:88px;
 padding-bottom: 64px;
 
    .container{
        @include container;
        
        .footer__wrapper{
            display: flex;
            .footer__aboutUs{
                margin-right: 88px;
                .footer__logo{
                    display: flex;
                    align-items: center;
                    .logo__text{
                        @include text-logo;
                    }
                }

                .footer__discription{
                    margin-top: 24px;
                }
            }

            .footer__resources{
                margin-right: 88px;

                .footer__resources-list li{
                   margin-top: 16px;
                }
            }

            .footer__company{
                margin-right: 88px;

                .footer__company-list li{
                    margin-top: 16px;
                }
            }

            .footer__contact{
                .footer__social img{
                    margin-right: 16px;
                    margin-top: 24px;
                }
            }
        }
    }
    .reserved {
        margin-top: 24px;
        font-size: 14px;
        line-height: 114%;
        color: #ffffff;
    }
}